PowerShell_Essentials_Exam/additional/accounts_new.csv
PowerShell_Essentials_Exam/additional/accounts.csv
PowerShell_Essentials_Exam/additional/add notes.txt
PowerShell_Essentials_Exam/additional/task1.ps1
PowerShell_Essentials_Exam/additional/task2.ps1
